*{
    color: var(--color-blanco);
    background-color: var(--color-fondo-2);
    margin: 0;
    padding: 0;
    
}

main{
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--color-fondo-1);
}
:root {
    --color-fondo-2: #1a1d21;
    --color-fondo-1: #221126;
    --color-blanco: #fff;
    --color-hover: #daaae0;
    --color-fondo-3:#320a35;
}



